.gitattributes export-ignore
.gitignore export-ignore
TODO.md export-ignore
Justfile export-ignore
LICENSE export-ignore
README.md export-ignore
duckies/ export-ignore
icon-svgs/ export-ignore
tools/ export-ignore
assets/duck_photo_*.jpg export-ignore
